

.sb-footer {
float: right;
}

.sb-box {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid green;
  margin-bottom: 25px;
  margin-top: 25px;

}

.sb-space {
  margin-top: 50px;
  margin-bottom: 50px;
}


#img-body {
  background-color: #262626;
  color: #ffffff;
  display: block;
}
